body {
  margin: 0px;
  height: 100%;
}

header {
  position: fixed;
  display: flex;
  width: 100%;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.header-box {
  padding: 14px;
}

.menu-item{
  padding: 14px;
}

nav {
display: inline-flex;
}

.logo {
display: flex;
align-items: center;
}

.logo span{
  color: MediumAquamarine;
  padding-left: 3px;
}

.main {
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}

.left {
  display: flex;
  flex-direction: column;
  width: 630px;
  margin-right: 32px;
}

.center {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-right: 32px;
}

.right {
  display: flex;
  flex-direction: column;
  width: 240px;
  margin-right: 32px;
}
